<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECHO - Ajustes</title>

    <link rel="stylesheet" href="../static/css/settings.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <header class="encabezado">

        <h1>⚙️ Ajustes</h1>

        <a href="dashboard" class="volver">
            ← Volver
        </a>

    </header>

    <form class="form" action="/guardar_ajustes" method="POST">

        <section class="tarjeta">

            <h2>👤 Perfil</h2>

            <label>Nombre de usuario</label>
            <input type="text" name="username" value="{{ user.username }}">

            <label>Correo electrónico</label>
            <input type="email" name="email" value="{{ user.email }}">

        </section>

        <section class="tarjeta">

            <h2>🎨 Personalización</h2>

            <label>Nombre de tu planta</label>
            <input type="text" name="plant_name" value="{{ user.plant_name }}">

            <label>Idioma</label>

            <select name="language">
                <option>Español</option>
                <option>English</option>
                <option>Français</option>
            </select>

        </section>

        <section class="tarjeta botones">

            <button type="submit" class="guardar">
                💾 Guardar cambios
            </button>

            <a href="/logout" class="cerrar">
                🚪 Cerrar sesión
            </a>

        </section>


    </form>

</body>

</html>